In [59]:
import pandas as pd

In [3]:
api_key = 'DZN0SFNNTOZKAY20'

In [4]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time

# Define your API key
api_key = "DZN0SFNNTOZKAY20"

# Initialize the Alpha Vantage TimeSeries object
ts = TimeSeries(key=api_key, output_format='pandas')

# Function to fetch data in chunks
def fetch_monthly_minute_data(symbol, start_date, end_date):
    """
    Fetch 1-minute data for a stock over a month using Alpha Vantage API.

    Args:
        symbol (str): Stock ticker (e.g., "AAPL").
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.

    Returns:
        DataFrame: Combined 1-minute data over the specified range.
    """
    all_data = []
    current_date = pd.to_datetime(start_date)

    while current_date <= pd.to_datetime(end_date):
        # Fetch 1-minute intraday data (compact mode)
        try:
            print(f"Fetching data for {current_date.strftime('%Y-%m-%d')}...")
            data, metadata = ts.get_intraday(symbol=symbol, interval="1min", outputsize="full")
            all_data.append(data)

            # Wait to respect API limits (5 requests per minute for free tier)
            time.sleep(12)  # Add delay to avoid exceeding request limits
        except Exception as e:
            print(f"Error fetching data for {current_date.strftime('%Y-%m-%d')}: {e}")

        # Move to the next day
        current_date += pd.Timedelta(days=1)

    # Combine all dataframes into one
    if all_data:
        full_data = pd.concat(all_data)
        full_data.sort_index(inplace=True)
        return full_data
    else:
        return None

# Example usage: Fetch data for AAPL from 2025-01-01 to 2025-01-31
start_date = "2025-01-01"
end_date = "2025-01-31"
symbol = "INFY"

data = fetch_monthly_minute_data(symbol, start_date, end_date)

# Save to a CSV file for later use
if data is not None:
    data.to_csv(f"{symbol}_1min_{start_date}_to_{end_date}.csv")
    print(f"Data saved to {symbol}_1min_{start_date}_to_{end_date}.csv")
else:
    print("No data fetched.")

Fetching data for 2025-01-01...
Fetching data for 2025-01-02...
Fetching data for 2025-01-03...
Fetching data for 2025-01-04...
Fetching data for 2025-01-05...
Fetching data for 2025-01-06...
Fetching data for 2025-01-07...
Fetching data for 2025-01-08...
Fetching data for 2025-01-09...
Fetching data for 2025-01-10...
Fetching data for 2025-01-11...
Fetching data for 2025-01-12...
Fetching data for 2025-01-13...
Fetching data for 2025-01-14...
Fetching data for 2025-01-15...
Fetching data for 2025-01-16...
Fetching data for 2025-01-17...
Fetching data for 2025-01-18...
Fetching data for 2025-01-19...
Fetching data for 2025-01-20...
Fetching data for 2025-01-21...
Fetching data for 2025-01-22...
Fetching data for 2025-01-23...
Fetching data for 2025-01-24...
Fetching data for 2025-01-25...
Fetching data for 2025-01-26...
Fetching data for 2025-01-27...
Error fetching data for 2025-01-27: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-28...
Error fetching data for 2025-01-28: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-29...
Error fetching data for 2025-01-29: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-30...
Error fetching data for 2025-01-30: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-31...
Error fetching data for 2025-01-31: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Data saved to INFY_1min_2025-01-01_to_2025-01-31.csv

In [60]:
df= pd.read_csv(r"D:\DOT SLASH\INFY.csv")

In [61]:
df

                       date  1. open  2. high  3. low  4. close  5. volume
0       2025-01-02 04:00:00    22.71    22.90   22.71     22.90      944.0
1       2025-01-02 04:00:00    22.71    22.90   22.71     22.90      944.0
2       2025-01-02 04:00:00    22.71    22.90   22.71     22.90      944.0
3       2025-01-02 04:00:00    22.71    22.90   22.71     22.90      944.0
4       2025-01-02 04:00:00    22.71    22.90   22.71     22.90      944.0
...                     ...      ...      ...     ...       ...        ...
229289  2025-01-31 19:53:00    21.93    21.93   21.93     21.93      100.0
229290  2025-01-31 19:53:00    21.93    21.93   21.93     21.93      100.0
229291  2025-01-31 19:53:00    21.93    21.93   21.93     21.93      100.0
229292  2025-01-31 19:53:00    21.93    21.93   21.93     21.93      100.0
229293  2025-01-31 19:53:00    21.93    21.93   21.93     21.93      100.0

[229294 rows x 6 columns]

In [62]:
df=df.drop_duplicates().reset_index(drop=True)

In [63]:
df

                     date  1. open  2. high   3. low  4. close  5. volume
0     2025-01-02 04:00:00  22.7100  22.9000  22.7100   22.9000      944.0
1     2025-01-02 04:01:00  22.7900  22.7900  22.7800   22.7800      120.0
2     2025-01-02 04:02:00  22.7900  22.8400  22.7900   22.8400       73.0
3     2025-01-02 04:03:00  22.8100  22.8100  22.8100   22.8100        3.0
4     2025-01-02 04:05:00  22.8400  22.8400  22.8300   22.8300      392.0
...                   ...      ...      ...      ...       ...        ...
8814  2025-01-31 18:36:00  21.9010  21.9010  21.9010   21.9010        5.0
8815  2025-01-31 18:59:00  21.9895  21.9895  21.9895   21.9895        1.0
8816  2025-01-31 19:00:00  21.9500  21.9500  21.9500   21.9500   714027.0
8817  2025-01-31 19:39:00  21.9896  21.9896  21.9896   21.9896        2.0
8818  2025-01-31 19:53:00  21.9300  21.9300  21.9300   21.9300      100.0

[8819 rows x 6 columns]

In [64]:
ema=df['4. close'].head(3).mean()
median_sma = ema
df['EMA'] = None  # Initialize SMA column
df.loc[:2, 'SMA'] = median_sma  # Fill first 3 rows with the median value
n = 5  # EMA period
df['EMA'] = df['4. close'].ewm(span=n, adjust=False).mean()
df = df.drop('SMA', axis=1)

In [65]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926
...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828

In [66]:
short_time_period=1
long_time_period=60
df['Short_Volume_MA'] = df['5. volume'].rolling(window=short_time_period, min_periods=1).mean()
df['Long_Volume_MA'] = df['5. volume'].rolling(window=long_time_period, min_periods=1).mean()
df['Volume_Oscillator'] = ((df['Short_Volume_MA'] - df['Long_Volume_MA']) / df['Long_Volume_MA']) * 100

# Drop the intermediate moving average columns if you don't need them
df.drop(['Short_Volume_MA', 'Long_Volume_MA'], axis=1, inplace=True)

In [67]:
n=15 #minutes
df['price change']=df['4. close'].diff()
df['gain']=df['price change'].apply(lambda x: x if x>0 else 0)
df['Loss'] = df['price change'].apply(lambda x: -x if x < 0 else 0)
df['Avg Gain'] = df['gain'].rolling(window=n, min_periods=1).mean()
df['Avg Loss'] = df['Loss'].rolling(window=n, min_periods=1).mean()
df['RS'] = df['Avg Gain'] / df['Avg Loss']
df['RSI'] = 100 - (100 / (1 + df['RS']))
df.drop(['price change', 'gain', 'Loss', 'Avg Gain', 'Avg Loss', 'RS'], axis=1, inplace=True)

In [68]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,NaN
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609
...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010

In [69]:
n=15
m=3
df['Lowest Low'] = df['3. low'].rolling(window=n, min_periods=1).min()
df['Highest High'] = df['2. high'].rolling(window=n, min_periods=1).max()
df['%K'] = ((df['4. close'] - df['Lowest Low']) / (df['Highest High'] - df['Lowest Low'])) * 100
df['%D'] = df['%K'].rolling(window=m, min_periods=1).mean()
df.drop(['Lowest Low', 'Highest High'], axis=1, inplace=True)

In [70]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,NaN,100.000000,100.000000
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,68.421053
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,68.421053
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,52.631579
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,61.403509
...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,19.005197
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,52.152932
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,52.152932
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,85.040831
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,62.954714

In [71]:
import numpy as np
period = 15
df['Previous Close'] = df['4. close'].shift(1)
df['TR'] = np.maximum(
    df['2. high'] - df['3. low'],
    np.maximum(
        abs(df['2. high'] - df['Previous Close']),
        abs(df['3. low'] - df['Previous Close'])
    )
)
df['+DM'] = np.where(
    (df['2. high'] - df['2. high'].shift(1)) > (df['3. low'].shift(1) - df['3. low']),
    np.maximum(df['2. high'] - df['2. high'].shift(1), 0),
    0
)
df['-DM'] = np.where(
    (df['3. low'].shift(1) - df['3. low']) > (df['2. high'] - df['2. high'].shift(1)),
    np.maximum(df['3. low'].shift(1) - df['3. low'], 0),
    0
)
df['Smoothed_TR'] = df['TR'].rolling(window=period, min_periods=1).sum()
df['Smoothed_+DM'] = df['+DM'].rolling(window=period, min_periods=1).sum()
df['Smoothed_-DM'] = df['-DM'].rolling(window=period, min_periods=1).sum()
df['+DI'] = (df['Smoothed_+DM'] / df['Smoothed_TR']) * 100
df['-DI'] = (df['Smoothed_-DM'] / df['Smoothed_TR']) * 100
df['DX'] = (abs(df['+DI'] - df['-DI']) / (df['+DI'] + df['-DI'])) * 100

# Step 6: Calculate the Average Directional Index (ADX)
df['ADX'] = df['DX'].rolling(window=period, min_periods=1).mean()

# Drop unnecessary columns
df.drop(['Previous Close', 'TR', '+DM', '-DM', 'Smoothed_TR', 'Smoothed_+DM', 'Smoothed_-DM', 'DX'], axis=1, inplace=True)

In [72]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,NaN,100.000000,100.000000,NaN,NaN,NaN
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,68.421053,0.000000,0.000000,NaN
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,68.421053,27.777778,0.000000,100.000000
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,52.631579,23.809524,0.000000,100.000000
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,61.403509,33.333333,0.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,19.005197,44.304023,53.025988,15.450232
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,52.152932,52.285759,46.164575,15.198068
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,52.152932,49.269860,49.269860,13.716586
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,85.040831,52.043070,46.576477,12.604646
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,62.954714,48.708010,50.000000,10.873724

In [73]:
df['Percentage Price Change'] = df['4. close'].pct_change()

# Step 2: Calculate the Price Volume Trend (PVT)
df['PVT'] = (df['Percentage Price Change'] * df['5. volume']).cumsum()

# Drop unnecessary columns
df.drop(['Percentage Price Change'], axis=1, inplace=True)

In [74]:
df['Target'] = df['4. close'].pct_change()

In [75]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,NaN,100.000000,100.000000,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,68.421053,0.000000,0.000000,NaN,-0.628821,-0.005240
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,68.421053,27.777778,0.000000,100.000000,-0.436547,0.002634
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,52.631579,23.809524,0.000000,100.000000,-0.440487,-0.001313
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,61.403509,33.333333,0.000000,100.000000,-0.096779,0.000877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,19.005197,44.304023,53.025988,15.450232,-14345.245834,-0.002232
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,52.152932,52.285759,46.164575,15.198068,-14345.241793,0.004041
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,52.152932,49.269860,49.269860,13.716586,-15627.856973,-0.001796
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,85.040831,52.043070,46.576477,12.604646,-15627.853365,0.001804
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,62.954714,48.708010,50.000000,10.873724,-15628.124402,-0.002710

In [76]:
df['previous_close'] = df['4. close'].shift(1)
df['TR'] = df[['2. high', '3. low', 'previous_close']].apply(
    lambda row: max(row['2. high'] - row['3. low'], abs(row['2. high'] - row['previous_close']), abs(row['3. low'] - row['previous_close'])), axis=1)
df['ATR'] = df['TR'].rolling(window=14).mean()
df['Max_Gain'] = df['2. high'] - df['1. open']
df['Max_Loss'] = df['1. open'] - df['3. low']
df['RRR_ATR'] = df['Max_Gain'] / df['ATR']
df['Returns'] = df['4. close'].pct_change()
risk_free_rate = 0.015
df['Excess_Returns'] = df['Returns'] - risk_free_rate / 252
df['Downside_Returns'] = np.where(df['Excess_Returns'] < 0, df['Excess_Returns'], 0)
downside_deviation = np.sqrt((df['Downside_Returns'] ** 2).mean())
sortino_ratio = df['Excess_Returns'].mean() / downside_deviation

# Combine ATR and Sortino Ratio for comprehensive RRR
df['Comprehensive_RRR'] = df['RRR_ATR'] * sortino_ratio

In [77]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,...,previous_close,TR,ATR,Max_Gain,Max_Loss,RRR_ATR,Returns,Excess_Returns,Downside_Returns,Comprehensive_RRR
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,NaN,100.000000,...,NaN,0.1900,NaN,0.19,0.00,NaN,NaN,NaN,0.000000,NaN
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,...,22.9000,0.1200,NaN,0.00,0.01,NaN,-0.005240,-0.005300,-0.005300,NaN
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,...,22.7800,0.0600,NaN,0.05,0.00,NaN,0.002634,0.002574,0.000000,NaN
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,...,22.8400,0.0300,NaN,0.00,0.00,NaN,-0.001313,-0.001373,-0.001373,NaN
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,...,22.8100,0.0300,NaN,0.00,0.01,NaN,0.000877,0.000817,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,...,21.9500,0.0490,0.039771,0.00,0.00,0.0,-0.002232,-0.002292,-0.002292,-0.0
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,...,21.9010,0.0885,0.046093,0.00,0.00,0.0,0.004041,0.003981,0.000000,-0.0
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,...,21.9895,0.0395,0.048914,0.00,0.00,0.0,-0.001796,-0.001856,-0.001856,-0.0
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,...,21.9500,0.0396,0.051029,0.00,0.00,0.0,0.001804,0.001745,0.000000,-0.0
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,...,21.9896,0.0596,0.051743,0.00,0.00,0.0,-0.002710,-0.002770,-0.002770,-0.0

In [78]:
comprehensive_RRR= df['Comprehensive_RRR'].median()

# Fill NaN values in the 'RSI' column with the mean value
df['Comprehensive_RRR'].fillna(comprehensive_RRR, inplace=True)

In [79]:
rsi_mean = df['RSI'].mean()

# Fill NaN values in the 'RSI' column with the mean value
df['RSI'].fillna(rsi_mean, inplace=True)
percent_changeink = df['%K'].median()
df['%K'].fillna(percent_changeink, inplace=True)

percent_changeind=df['%D'].median()
df['%D'].fillna(percent_changeind, inplace=True)

plus_d=df['+DI'].median()
df['+DI'].fillna(plus_d, inplace=True)

minus_d=df['-DI'].median()
df['-DI'].fillna(minus_d, inplace=True)

adx=df['ADX'].median()
df['ADX'].fillna(adx, inplace=True)

pvt=df['PVT'].median()
df['PVT'].fillna(pvt, inplace=True)

target=df['Target'].median()
df['Target'].fillna(target, inplace=True)

In [80]:
df.drop(['Max_Loss','previous_close','TR','ATR','RRR_ATR','Returns','Excess_Returns','Downside_Returns'], axis=1, inplace=True)

In [81]:
df.drop(['Max_Gain'],axis=1,inplace=True)

In [82]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,50.219276,100.000000,100.000000,22.653347,24.242424,30.580530,-15111.818938,0.000000,-0.020242
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,68.421053,0.000000,0.000000,30.580530,-0.628821,-0.005240,-0.020242
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,68.421053,27.777778,0.000000,100.000000,-0.436547,0.002634,-0.020242
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,52.631579,23.809524,0.000000,100.000000,-0.440487,-0.001313,-0.020242
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,61.403509,33.333333,0.000000,100.000000,-0.096779,0.000877,-0.020242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,19.005197,44.304023,53.025988,15.450232,-14345.245834,-0.002232,-0.000000
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,52.152932,52.285759,46.164575,15.198068,-14345.241793,0.004041,-0.000000
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,52.152932,49.269860,49.269860,13.716586,-15627.856973,-0.001796,-0.000000
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,85.040831,52.043070,46.576477,12.604646,-15627.853365,0.001804,-0.000000
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,62.954714,48.708010,50.000000,10.873724,-15628.124402,-0.002710,-0.000000

In [83]:
# df.drop(['date'], axis=1, inplace=True)

In [84]:
first_open = df['1. open'].iloc[0]
last_close = df['4. close'].iloc[-1]
percentage_change = (last_close - first_open) / first_open * 100
df['%Change'] = percentage_change

In [85]:
first_open = df['1. open'].iloc[0]
highest_high = df['2. high'].max()
lowest_low = df['3. low'].min()

max_gain = highest_high - first_open
max_loss = first_open - lowest_low

# Avoid division by zero
epsilon = 1e-6
max_loss = max(max_loss, epsilon)

rrr = max_gain / max_loss

# Create a new column and fill it with the calculated RRR value
df['RRR'] = rrr

In [86]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR,%Change,RRR
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,50.219276,100.000000,100.000000,22.653347,24.242424,30.580530,-15111.818938,0.000000,-0.020242,-3.43461,0.256545
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,68.421053,0.000000,0.000000,30.580530,-0.628821,-0.005240,-0.020242,-3.43461,0.256545
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,68.421053,27.777778,0.000000,100.000000,-0.436547,0.002634,-0.020242,-3.43461,0.256545
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,52.631579,23.809524,0.000000,100.000000,-0.440487,-0.001313,-0.020242,-3.43461,0.256545
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,61.403509,33.333333,0.000000,100.000000,-0.096779,0.000877,-0.020242,-3.43461,0.256545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,19.005197,44.304023,53.025988,15.450232,-14345.245834,-0.002232,-0.000000,-3.43461,0.256545
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,52.152932,52.285759,46.164575,15.198068,-14345.241793,0.004041,-0.000000,-3.43461,0.256545
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,52.152932,49.269860,49.269860,13.716586,-15627.856973,-0.001796,-0.000000,-3.43461,0.256545
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,85.040831,52.043070,46.576477,12.604646,-15627.853365,0.001804,-0.000000,-3.43461,0.256545
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,62.954714,48.708010,50.000000,10.873724,-15628.124402,-0.002710,-0.000000,-3.43461,0.256545

In [87]:
df.to_csv('features2.csv')

In [88]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR,%Change,RRR
0,2025-01-02 04:00:00,22.7100,22.9000,22.7100,22.9000,944.0,22.900000,0.000000,50.219276,100.000000,100.000000,22.653347,24.242424,30.580530,-15111.818938,0.000000,-0.020242,-3.43461,0.256545
1,2025-01-02 04:01:00,22.7900,22.7900,22.7800,22.7800,120.0,22.860000,-77.443609,0.000000,36.842105,68.421053,0.000000,0.000000,30.580530,-0.628821,-0.005240,-0.020242,-3.43461,0.256545
2,2025-01-02 04:02:00,22.7900,22.8400,22.7900,22.8400,73.0,22.853333,-80.738786,33.333333,68.421053,68.421053,27.777778,0.000000,100.000000,-0.436547,0.002634,-0.020242,-3.43461,0.256545
3,2025-01-02 04:03:00,22.8100,22.8100,22.8100,22.8100,3.0,22.838889,-98.947368,28.571429,52.631579,52.631579,23.809524,0.000000,100.000000,-0.440487,-0.001313,-0.020242,-3.43461,0.256545
4,2025-01-02 04:05:00,22.8400,22.8400,22.8300,22.8300,392.0,22.835926,27.937337,34.782609,63.157895,61.403509,33.333333,0.000000,100.000000,-0.096779,0.000877,-0.020242,-3.43461,0.256545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8814,2025-01-31 18:36:00,21.9010,21.9010,21.9010,21.9010,5.0,21.923640,-99.995003,45.519386,1.113586,19.005197,44.304023,53.025988,15.450232,-14345.245834,-0.002232,-0.000000,-3.43461,0.256545
8815,2025-01-31 18:59:00,21.9895,21.9895,21.9895,21.9895,1.0,21.945593,-99.998995,53.108768,99.665924,52.152932,52.285759,46.164575,15.198068,-14345.241793,0.004041,-0.000000,-3.43461,0.256545
8816,2025-01-31 19:00:00,21.9500,21.9500,21.9500,21.9500,714027.0,21.947062,543.364265,50.000000,55.679287,52.152932,49.269860,49.269860,13.716586,-15627.856973,-0.001796,-0.000000,-3.43461,0.256545
8817,2025-01-31 19:39:00,21.9896,21.9896,21.9896,21.9896,2.0,21.961241,-99.998191,52.771557,99.777283,85.040831,52.043070,46.576477,12.604646,-15627.853365,0.001804,-0.000000,-3.43461,0.256545
8818,2025-01-31 19:53:00,21.9300,21.9300,21.9300,21.9300,100.0,21.950828,-99.909276,48.708010,33.407572,62.954714,48.708010,50.000000,10.873724,-15628.124402,-0.002710,-0.000000,-3.43461,0.256545