In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
api_key = 'DZN0SFNNTOZKAY20'

In [5]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time

# Define your API key
api_key = "DZN0SFNNTOZKAY20"

# Initialize the Alpha Vantage TimeSeries object
ts = TimeSeries(key=api_key, output_format='pandas')

# Function to fetch data in chunks
def fetch_monthly_minute_data(symbol, start_date, end_date):
    """
    Fetch 1-minute data for a stock over a month using Alpha Vantage API.

    Args:
        symbol (str): Stock ticker (e.g., "AAPL").
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.

    Returns:
        DataFrame: Combined 1-minute data over the specified range.
    """
    all_data = []
    current_date = pd.to_datetime(start_date)

    while current_date <= pd.to_datetime(end_date):
        # Fetch 1-minute intraday data (compact mode)
        try:
            print(f"Fetching data for {current_date.strftime('%Y-%m-%d')}...")
            data, metadata = ts.get_intraday(symbol=symbol, interval="1min", outputsize="full")
            all_data.append(data)

            # Wait to respect API limits (5 requests per minute for free tier)
            time.sleep(12)  # Add delay to avoid exceeding request limits
        except Exception as e:
            print(f"Error fetching data for {current_date.strftime('%Y-%m-%d')}: {e}")

        # Move to the next day
        current_date += pd.Timedelta(days=1)

    # Combine all dataframes into one
    if all_data:
        full_data = pd.concat(all_data)
        full_data.sort_index(inplace=True)
        return full_data
    else:
        return None

# Example usage: Fetch data for AAPL from 2025-01-01 to 2025-01-31
start_date = "2025-01-01"
end_date = "2025-01-31"
symbol = "RELI"

data = fetch_monthly_minute_data(symbol, start_date, end_date)

# Save to a CSV file for later use
if data is not None:
    data.to_csv(f"{symbol}_1min_{start_date}_to_{end_date}.csv")
    print(f"Data saved to {symbol}_1min_{start_date}_to_{end_date}.csv")
else:
    print("No data fetched.")

Fetching data for 2025-01-01...
Fetching data for 2025-01-02...
Fetching data for 2025-01-03...
Fetching data for 2025-01-04...
Fetching data for 2025-01-05...
Fetching data for 2025-01-06...
Fetching data for 2025-01-07...
Fetching data for 2025-01-08...
Fetching data for 2025-01-09...
Fetching data for 2025-01-10...
Fetching data for 2025-01-11...
Fetching data for 2025-01-12...
Fetching data for 2025-01-13...
Fetching data for 2025-01-14...
Fetching data for 2025-01-15...
Fetching data for 2025-01-16...
Fetching data for 2025-01-17...
Fetching data for 2025-01-18...
Fetching data for 2025-01-19...
Fetching data for 2025-01-20...
Fetching data for 2025-01-21...
Fetching data for 2025-01-22...
Fetching data for 2025-01-23...
Fetching data for 2025-01-24...
Fetching data for 2025-01-25...
Fetching data for 2025-01-26...
Fetching data for 2025-01-27...
Error fetching data for 2025-01-27: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-28...
Error fetching data for 2025-01-28: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-29...
Error fetching data for 2025-01-29: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-30...
Error fetching data for 2025-01-30: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Fetching data for 2025-01-31...
Error fetching data for 2025-01-31: Thank you for using Alpha Vantage! Our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.
Data saved to RELI_1min_2025-01-01_to_2025-01-31.csv

In [3]:
df= pd.read_csv(r"D:\DOT SLASH\Dataset.csv")

In [4]:
df

                      date  1. open  2. high  3. low  4. close  5. volume
0      2024-12-30 04:00:00     2.36     2.36    2.36      2.36       10.0
1      2024-12-30 04:00:00     2.36     2.36    2.36      2.36       10.0
2      2024-12-30 04:00:00     2.36     2.36    2.36      2.36       10.0
3      2024-12-30 04:00:00     2.36     2.36    2.36      2.36       10.0
4      2024-12-30 04:00:00     2.36     2.36    2.36      2.36       10.0
...                    ...      ...      ...     ...       ...        ...
74433  2025-01-28 19:51:00     1.94     1.94    1.94      1.94       36.0
74434  2025-01-28 19:51:00     1.94     1.94    1.94      1.94       36.0
74435  2025-01-28 19:51:00     1.94     1.94    1.94      1.94       36.0
74436  2025-01-28 19:51:00     1.94     1.94    1.94      1.94       36.0
74437  2025-01-28 19:51:00     1.94     1.94    1.94      1.94       36.0

[74438 rows x 6 columns]

In [5]:
df=df.drop_duplicates().reset_index(drop=True)

In [6]:
df

                     date  1. open  2. high  3. low  4. close  5. volume
0     2024-12-30 04:00:00     2.36     2.36    2.36      2.36       10.0
1     2024-12-30 04:01:00     2.36     2.36    2.36      2.36        1.0
2     2024-12-30 04:02:00     2.38     2.38    2.38      2.38        3.0
3     2024-12-30 04:04:00     2.46     2.46    2.46      2.46        2.0
4     2024-12-30 04:12:00     2.38     2.47    2.38      2.47      126.0
...                   ...      ...      ...     ...       ...        ...
2858  2025-01-28 16:00:00     1.97     2.00    1.97      2.00     2974.0
2859  2025-01-28 16:13:00     1.94     1.94    1.94      1.94      100.0
2860  2025-01-28 16:46:00     1.99     2.00    1.99      2.00       12.0
2861  2025-01-28 18:28:00     2.00     2.00    1.94      1.94       15.0
2862  2025-01-28 19:51:00     1.94     1.94    1.94      1.94       36.0

[2863 rows x 6 columns]

In [7]:
ema=df['4. close'].head(3).mean()

In [8]:
ema

2.3666666666666667

In [9]:
median_sma = ema

In [10]:
df['EMA'] = None  # Initialize SMA column
df.loc[:2, 'SMA'] = median_sma  # Fill first 3 rows with the median value
n = 5  # EMA period
df['EMA'] = df['4. close'].ewm(span=n, adjust=False).mean()

In [11]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,SMA
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,2.366667
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,2.366667
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,2.366667
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,NaN
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,NaN
...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,NaN
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,NaN
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,NaN
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,NaN
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,NaN

In [12]:
df = df.drop('SMA', axis=1)

In [13]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852
...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297

In [14]:
short_time_period=1
long_time_period=60
df['Short_Volume_MA'] = df['5. volume'].rolling(window=short_time_period, min_periods=1).mean()
df['Long_Volume_MA'] = df['5. volume'].rolling(window=long_time_period, min_periods=1).mean()
df['Volume_Oscillator'] = ((df['Short_Volume_MA'] - df['Long_Volume_MA']) / df['Long_Volume_MA']) * 100

# Drop the intermediate moving average columns if you don't need them
df.drop(['Short_Volume_MA', 'Long_Volume_MA'], axis=1, inplace=True)

In [15]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972
...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786

In [16]:
n=15 #minutes
df['price change']=df['4. close'].diff()
df['gain']=df['price change'].apply(lambda x: x if x>0 else 0)
df['Loss'] = df['price change'].apply(lambda x: -x if x < 0 else 0)
df['Avg Gain'] = df['gain'].rolling(window=n, min_periods=1).mean()
df['Avg Loss'] = df['Loss'].rolling(window=n, min_periods=1).mean()
df['RS'] = df['Avg Gain'] / df['Avg Loss']
df['RSI'] = 100 - (100 / (1 + df['RS']))
df.drop(['price change', 'gain', 'Loss', 'Avg Gain', 'Avg Loss', 'RS'], axis=1, inplace=True)

In [17]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000
...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721

In [18]:
n=15
m=3
df['Lowest Low'] = df['3. low'].rolling(window=n, min_periods=1).min()
df['Highest High'] = df['2. high'].rolling(window=n, min_periods=1).max()
df['%K'] = ((df['4. close'] - df['Lowest Low']) / (df['Highest High'] - df['Lowest Low'])) * 100
df['%D'] = df['%K'].rolling(window=m, min_periods=1).mean()
df.drop(['Lowest Low', 'Highest High'], axis=1, inplace=True)

In [19]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN,NaN,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN,NaN,NaN
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903

In [20]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN,NaN,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN,NaN,NaN
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903

In [21]:
period = 15
df['Previous Close'] = df['4. close'].shift(1)
df['TR'] = np.maximum(
    df['2. high'] - df['3. low'],
    np.maximum(
        abs(df['2. high'] - df['Previous Close']),
        abs(df['3. low'] - df['Previous Close'])
    )
)
df['+DM'] = np.where(
    (df['2. high'] - df['2. high'].shift(1)) > (df['3. low'].shift(1) - df['3. low']),
    np.maximum(df['2. high'] - df['2. high'].shift(1), 0),
    0
)
df['-DM'] = np.where(
    (df['3. low'].shift(1) - df['3. low']) > (df['2. high'] - df['2. high'].shift(1)),
    np.maximum(df['3. low'].shift(1) - df['3. low'], 0),
    0
)
df['Smoothed_TR'] = df['TR'].rolling(window=period, min_periods=1).sum()
df['Smoothed_+DM'] = df['+DM'].rolling(window=period, min_periods=1).sum()
df['Smoothed_-DM'] = df['-DM'].rolling(window=period, min_periods=1).sum()
df['+DI'] = (df['Smoothed_+DM'] / df['Smoothed_TR']) * 100
df['-DI'] = (df['Smoothed_-DM'] / df['Smoothed_TR']) * 100
df['DX'] = (abs(df['+DI'] - df['-DI']) / (df['+DI'] + df['-DI'])) * 100

# Step 6: Calculate the Average Directional Index (ADX)
df['ADX'] = df['DX'].rolling(window=period, min_periods=1).mean()

# Drop unnecessary columns
df.drop(['Previous Close', 'TR', '+DM', '-DM', 'Smoothed_TR', 'Smoothed_+DM', 'Smoothed_-DM', 'DX'], axis=1, inplace=True)

In [22]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000,52.631579,42.105263,70.370370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228,57.776772,39.732850,20.583595
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000,51.827782,39.845654,20.277913
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000,54.084398,37.979094,21.205599
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000,48.447528,42.705984,20.654743
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903,51.664817,38.901221,20.183610

In [23]:
df['Percentage Price Change'] = df['4. close'].pct_change()

# Step 2: Calculate the Price Volume Trend (PVT)
df['PVT'] = (df['Percentage Price Change'] * df['5. volume']).cumsum()

# Drop unnecessary columns
df.drop(['Percentage Price Change'], axis=1, inplace=True)

In [24]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.025424
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.092651
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000,52.631579,42.105263,70.370370,0.604846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228,57.776772,39.732850,20.583595,-1246.325133
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000,51.827782,39.845654,20.277913,-1249.325133
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000,54.084398,37.979094,21.205599,-1248.953999
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000,48.447528,42.705984,20.654743,-1249.403999
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903,51.664817,38.901221,20.183610,-1249.403999

In [25]:
df['Target'] = df['4. close'].pct_change()

In [26]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.025424,0.008475
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.092651,0.033613
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000,52.631579,42.105263,70.370370,0.604846,0.004065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228,57.776772,39.732850,20.583595,-1246.325133,0.015228
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000,51.827782,39.845654,20.277913,-1249.325133,-0.030000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000,54.084398,37.979094,21.205599,-1248.953999,0.030928
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000,48.447528,42.705984,20.654743,-1249.403999,-0.030000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903,51.664817,38.901221,20.183610,-1249.403999,0.000000

In [46]:
df['previous_close'] = df['4. close'].shift(1)
df['TR'] = df[['2. high', '3. low', 'previous_close']].apply(
    lambda row: max(row['2. high'] - row['3. low'], abs(row['2. high'] - row['previous_close']), abs(row['3. low'] - row['previous_close'])), axis=1)
df['ATR'] = df['TR'].rolling(window=14).mean()
df['Max_Gain'] = df['2. high'] - df['1. open']
df['Max_Loss'] = df['1. open'] - df['3. low']
df['RRR_ATR'] = df['Max_Gain'] / df['ATR']
df['Returns'] = df['4. close'].pct_change()
risk_free_rate = 0.015
df['Excess_Returns'] = df['Returns'] - risk_free_rate / 252
df['Downside_Returns'] = np.where(df['Excess_Returns'] < 0, df['Excess_Returns'], 0)
downside_deviation = np.sqrt((df['Downside_Returns'] ** 2).mean())
sortino_ratio = df['Excess_Returns'].mean() / downside_deviation

# Combine ATR and Sortino Ratio for comprehensive RRR
df['Comprehensive_RRR'] = df['RRR_ATR'] * sortino_ratio

In [47]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,...,Max_Loss,RRR,previous_close,TR,ATR,RRR_ATR,Returns,Excess_Returns,Downside_Returns,Comprehensive_RRR
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,NaN,NaN,...,0.00,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00000,NaN
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,NaN,NaN,...,0.00,NaN,2.36,0.00,NaN,NaN,0.000000,-0.000060,-0.00006,NaN
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,...,0.00,NaN,2.36,0.02,NaN,NaN,0.008475,0.008415,0.00000,NaN
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,...,0.00,NaN,2.38,0.08,NaN,NaN,0.033613,0.033554,0.00000,NaN
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,...,0.00,NaN,2.46,0.09,NaN,NaN,0.004065,0.004006,0.00000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,...,0.00,0.971323,1.97,0.03,0.030886,0.971323,0.015228,0.015169,0.00000,0.005055
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,...,0.00,0.000000,2.00,0.06,0.032614,0.000000,-0.030000,-0.030060,-0.03006,0.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,...,0.00,0.271055,1.94,0.06,0.036893,0.271055,0.030928,0.030868,0.00000,0.001411
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,...,0.06,0.000000,2.00,0.06,0.038614,0.000000,-0.030000,-0.030060,-0.03006,0.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,...,0.00,0.000000,1.94,0.00,0.035400,0.000000,0.000000,-0.000060,-0.00006,0.000000

In [49]:
rsi_mean = df['RSI'].median()

# Fill NaN values in the 'RSI' column with the mean value
df['RSI'].fillna(rsi_mean, inplace=True)
comprehensive_RRR= df['Comprehensive_RRR'].median()

# Fill NaN values in the 'RSI' column with the mean value
df['Comprehensive_RRR'].fillna(comprehensive_RRR, inplace=True)

In [50]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,...,Max_Loss,RRR,previous_close,TR,ATR,RRR_ATR,Returns,Excess_Returns,Downside_Returns,Comprehensive_RRR
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,49.219129,NaN,...,0.00,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00000,0.000968
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,49.219129,NaN,...,0.00,NaN,2.36,0.00,NaN,NaN,0.000000,-0.000060,-0.00006,0.000968
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,...,0.00,NaN,2.36,0.02,NaN,NaN,0.008475,0.008415,0.00000,0.000968
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,...,0.00,NaN,2.38,0.08,NaN,NaN,0.033613,0.033554,0.00000,0.000968
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,...,0.00,NaN,2.46,0.09,NaN,NaN,0.004065,0.004006,0.00000,0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,...,0.00,0.971323,1.97,0.03,0.030886,0.971323,0.015228,0.015169,0.00000,0.005055
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,...,0.00,0.000000,2.00,0.06,0.032614,0.000000,-0.030000,-0.030060,-0.03006,0.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,...,0.00,0.271055,1.94,0.06,0.036893,0.271055,0.030928,0.030868,0.00000,0.001411
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,...,0.06,0.000000,2.00,0.06,0.038614,0.000000,-0.030000,-0.030060,-0.03006,0.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,...,0.00,0.000000,1.94,0.00,0.035400,0.000000,0.000000,-0.000060,-0.00006,0.000000

In [52]:
df.drop(['Max_Loss','RRR','previous_close','TR','ATR','RRR_ATR','Returns','Excess_Returns','Downside_Returns'], axis=1, inplace=True)

In [53]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Max_Gain,Comprehensive_RRR
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,49.219129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.000968
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,49.219129,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.00,0.000968
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.025424,0.008475,0.00,0.000968
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.092651,0.033613,0.00,0.000968
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000,52.631579,42.105263,70.370370,0.604846,0.004065,0.09,0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228,57.776772,39.732850,20.583595,-1246.325133,0.015228,0.03,0.005055
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000,51.827782,39.845654,20.277913,-1249.325133,-0.030000,0.00,0.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000,54.084398,37.979094,21.205599,-1248.953999,0.030928,0.01,0.001411
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000,48.447528,42.705984,20.654743,-1249.403999,-0.030000,0.00,0.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903,51.664817,38.901221,20.183610,-1249.403999,0.000000,0.00,0.000000

In [54]:
df.drop(['Max_Gain'],axis=1,inplace=True)

In [55]:
percent_changeink = df['%K'].median()
df['%K'].fillna(percent_changeink, inplace=True)

percent_changeind=df['%D'].median()
df['%D'].fillna(percent_changeind, inplace=True)

plus_d=df['+DI'].median()
df['+DI'].fillna(plus_d, inplace=True)

minus_d=df['-DI'].median()
df['-DI'].fillna(minus_d, inplace=True)

adx=df['ADX'].median()
df['ADX'].fillna(adx, inplace=True)

pvt=df['PVT'].median()
df['PVT'].fillna(pvt, inplace=True)

target=df['Target'].median()
df['Target'].fillna(target, inplace=True)

In [56]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,49.219129,43.196544,42.953016,40.810811,41.937054,17.661816,605.529682,0.000000,0.000968
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,49.219129,43.196544,42.953016,40.810811,41.937054,17.661816,0.000000,0.000000,0.000968
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.025424,0.008475,0.000968
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.092651,0.033613,0.000968
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000,52.631579,42.105263,70.370370,0.604846,0.004065,0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228,57.776772,39.732850,20.583595,-1246.325133,0.015228,0.005055
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000,51.827782,39.845654,20.277913,-1249.325133,-0.030000,0.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000,54.084398,37.979094,21.205599,-1248.953999,0.030928,0.001411
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000,48.447528,42.705984,20.654743,-1249.403999,-0.030000,0.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903,51.664817,38.901221,20.183610,-1249.403999,0.000000,0.000000

In [57]:
df.to_csv('features.csv')

In [58]:
df

,date,1. open,2. high,3. low,4. close,5. volume,EMA,Volume_Oscillator,RSI,%K,%D,+DI,-DI,ADX,PVT,Target,Comprehensive_RRR
0,2024-12-30 04:00:00,2.36,2.36,2.36,2.36,10.0,2.360000,0.000000,49.219129,43.196544,42.953016,40.810811,41.937054,17.661816,605.529682,0.000000,0.000968
1,2024-12-30 04:01:00,2.36,2.36,2.36,2.36,1.0,2.360000,-81.818182,49.219129,43.196544,42.953016,40.810811,41.937054,17.661816,0.000000,0.000000,0.000968
2,2024-12-30 04:02:00,2.38,2.38,2.38,2.38,3.0,2.366667,-35.714286,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.025424,0.008475,0.000968
3,2024-12-30 04:04:00,2.46,2.46,2.46,2.46,2.0,2.397778,-50.000000,100.000000,100.000000,100.000000,100.000000,0.000000,100.000000,0.092651,0.033613,0.000968
4,2024-12-30 04:12:00,2.38,2.47,2.38,2.47,126.0,2.421852,343.661972,100.000000,100.000000,100.000000,52.631579,42.105263,70.370370,0.604846,0.004065,0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2858,2025-01-28 16:00:00,1.97,2.00,1.97,2.00,2974.0,1.977506,91.928753,60.754091,100.000000,76.351228,57.776772,39.732850,20.583595,-1246.325133,0.015228,0.005055
2859,2025-01-28 16:13:00,1.94,1.94,1.94,1.94,100.0,1.965004,-93.483290,54.233700,40.000000,70.000000,51.827782,39.845654,20.277913,-1249.325133,-0.030000,0.000000
2860,2025-01-28 16:46:00,1.99,2.00,1.99,2.00,12.0,1.976669,-99.217247,56.463955,100.000000,80.000000,54.084398,37.979094,21.205599,-1248.953999,0.030928,0.001411
2861,2025-01-28 18:28:00,2.00,2.00,1.94,1.94,15.0,1.964446,-99.018507,50.368374,40.000000,60.000000,48.447528,42.705984,20.654743,-1249.403999,-0.030000,0.000000
2862,2025-01-28 19:51:00,1.94,1.94,1.94,1.94,36.0,1.956297,-97.629786,53.841721,11.373708,50.457903,51.664817,38.901221,20.183610,-1249.403999,0.000000,0.000000